In [1]:
import snowflake.connector
import os

# Conexi√≥n Snowflake (ya tienes estas env vars)
conn = snowflake.connector.connect(
    account=os.getenv("SF_ACCOUNT"),
    user=os.getenv("SF_USER"),
    password=os.getenv("SF_PASSWORD"),
    warehouse=os.getenv("SF_WAREHOUSE"),
    database=os.getenv
    ("SF_DATABASE"),
    schema="PUBLIC",     # luego cambia a ANALYTICS
    role=os.getenv("SF_ROLE"),
)
cur = conn.cursor()

# 1Ô∏è‚É£ Crear esquema ANALYTICS si no existe
cur.execute("""
CREATE SCHEMA IF NOT EXISTS ANALYTICS;
""")

# 2Ô∏è‚É£ Crear OBT (One Big Table) como TABLE f√≠sica
cur.execute("""
CREATE OR REPLACE TABLE ANALYTICS.OBT_TRIPS AS
SELECT
    -- üïí TIME DIMENSIONS
    pickup_datetime,
    dropoff_datetime,
    TO_DATE(pickup_datetime)               AS pickup_date,
    TO_CHAR(pickup_datetime, 'HH24')       AS pickup_hour,
    TO_CHAR(dropoff_datetime, 'HH24')      AS dropoff_hour,
    TO_CHAR(pickup_datetime, 'DY')         AS day_of_week,
    EXTRACT(MONTH FROM pickup_datetime)    AS month,
    EXTRACT(YEAR  FROM pickup_datetime)    AS year,

    -- üìç LOCATIONS (from enriched table)
    PULocationID         AS pu_location_id,
    PICKUP_ZONE          AS pu_zone,
    PICKUP_BOROUGH       AS pu_borough,
    DOLocationID         AS do_location_id,
    DROPOFF_ZONE         AS do_zone,
    DROPOFF_BOROUGH      AS do_borough,

    -- üöï SERVICE & CODES
    SERVICE_TYPE,
    VENDORID             AS vendor_id,
    VENDOR_DESC          AS vendor_name,
    RATECODEID           AS rate_code_id,
    RATE_CODE_DESC,
    PAYMENT_TYPE,
    PAYMENT_TYPE_DESC,
    TRIP_TYPE,

    -- üß≥ TRIP INFO
    PASSENGER_COUNT,
    TRIP_DISTANCE,
    STORE_AND_FWD_FLAG,

    -- üíµ FARE DETAIL
    FARE_AMOUNT,
    EXTRA,
    MTA_TAX,
    TIP_AMOUNT,
    TOLLS_AMOUNT,
    IMPROVEMENT_SURCHARGE,
    CONGESTION_SURCHARGE,
    AIRPORT_FEE,
    TOTAL_AMOUNT,

    -- üßÆ DERIVED METRICS
    DATEDIFF('minute', pickup_datetime, dropoff_datetime) AS trip_duration_min,
    CASE
        WHEN DATEDIFF('minute', pickup_datetime, dropoff_datetime) > 0
        THEN (TRIP_DISTANCE / (DATEDIFF('minute', pickup_datetime, dropoff_datetime) / 60.0))
        ELSE NULL
    END AS avg_speed_mph,
    CASE
        WHEN FARE_AMOUNT > 0 THEN (TIP_AMOUNT / FARE_AMOUNT) * 100
        ELSE 0
    END AS tip_pct,

    -- üóÉ LINEAGE / METADATA
    RUN_ID,
    INGESTED_AT_UTC,
    SOURCE_YEAR,
    SOURCE_MONTH
FROM SILVER.NYC_ALL_TAXIS_ENRICHED;
""")

# 3Ô∏è‚É£ Confirmar filas en la OBT
cur.execute("SELECT COUNT(*) FROM ANALYTICS.OBT_TRIPS;")
print("‚úÖ OBT_TRIPS generada. Total filas:", cur.fetchone()[0])

cur.close()
conn.close()

‚úÖ OBT_TRIPS generada. Total filas: 770119593

In [3]:
import snowflake.connector
import os

# üîÅ REUTILIZA LAS PLANTILLAS (necesarias para inserciones)
YELLOW_INSERT_TMPL = """
INSERT INTO SILVER.NYC_ALL_TAXITRIPS
SELECT *
FROM (
    SELECT
        MD5(
            COALESCE(TO_CHAR(tpep_pickup_datetime, 'YYYY-MM-DD HH24:MI:SS.FF3'),'') || '|' ||
            COALESCE(TO_CHAR(tpep_dropoff_datetime,'YYYY-MM-DD HH24:MI:SS.FF3'),'') || '|' ||
            COALESCE(TO_VARCHAR(VendorID),'') || '|' ||
            COALESCE(TO_VARCHAR(PULocationID),'') || '|' ||
            COALESCE(TO_VARCHAR(DOLocationID),'') || '|' ||
            COALESCE(TO_VARCHAR(total_amount),'') || '|' ||
            'YELLOW'
        ) AS HASH_KEY,
        tpep_pickup_datetime::TIMESTAMP_NTZ  AS PICKUP_DATETIME,
        tpep_dropoff_datetime::TIMESTAMP_NTZ AS DROPOFF_DATETIME,
        VendorID                              AS VENDORID,
        CASE VendorID
            WHEN 1 THEN 'Creative Mobile Technologies (CMT)'
            WHEN 2 THEN 'VeriFone Transportation Systems (VTS)'
            WHEN 4 THEN 'DDS'
            WHEN 5 THEN 'VIP'
            ELSE 'Unknown'
        END AS VENDOR_DESC,
        RatecodeID                            AS RATECODEID,
        CASE RatecodeID
            WHEN 1 THEN 'Standard rate'
            WHEN 2 THEN 'JFK'
            WHEN 3 THEN 'Newark'
            WHEN 4 THEN 'Nassau/Westchester'
            WHEN 5 THEN 'Negotiated fare'
            WHEN 6 THEN 'Group ride'
            ELSE 'Unknown'
        END AS RATE_CODE_DESC,
        passenger_count                       AS PASSENGER_COUNT,
        trip_distance                         AS TRIP_DISTANCE,
        PULocationID                          AS PULOCATIONID,
        DOLocationID                          AS DOLOCATIONID,
        store_and_fwd_flag                    AS STORE_AND_FWD_FLAG,
        payment_type                          AS PAYMENT_TYPE,
        CASE payment_type
            WHEN 1 THEN 'Credit card'
            WHEN 2 THEN 'Cash'
            WHEN 3 THEN 'No charge'
            WHEN 4 THEN 'Dispute'
            WHEN 5 THEN 'Unknown'
            WHEN 6 THEN 'Voided trip'
            ELSE 'Unknown'
        END AS PAYMENT_TYPE_DESC,
        fare_amount                           AS FARE_AMOUNT,
        extra                                 AS EXTRA,
        mta_tax                               AS MTA_TAX,
        tip_amount                            AS TIP_AMOUNT,
        tolls_amount                          AS TOLLS_AMOUNT,
        improvement_surcharge                 AS IMPROVEMENT_SURCHARGE,
        total_amount                          AS TOTAL_AMOUNT,
        congestion_surcharge                  AS CONGESTION_SURCHARGE,
        cbd_congestion_fee                    AS CBD_CONGESTION_FEE,
        airport_fee                           AS AIRPORT_FEE,
        CAST(NULL AS FLOAT)                   AS EHAIL_FEE,
        CAST(NULL AS FLOAT)                   AS TRIP_TYPE,
        'YELLOW'                              AS SERVICE_TYPE,
        SOURCE_YEAR, SOURCE_MONTH, RUN_ID, INGESTED_AT_UTC, SOURCE_PATH
    FROM RAW.NYC_YELLOW_TAXIS
    WHERE SOURCE_YEAR = {yy} AND SOURCE_MONTH = {mm}
) S
WHERE NOT EXISTS (
    SELECT 1 FROM SILVER.NYC_ALL_TAXITRIPS T WHERE T.HASH_KEY = S.HASH_KEY
);
"""

GREEN_INSERT_TMPL = """
INSERT INTO SILVER.NYC_ALL_TAXITRIPS
SELECT *
FROM (
    SELECT
        MD5(
            COALESCE(TO_CHAR(lpep_pickup_datetime, 'YYYY-MM-DD HH24:MI:SS.FF3'),'') || '|' ||
            COALESCE(TO_CHAR(lpep_dropoff_datetime,'YYYY-MM-DD HH24:MI:SS.FF3'),'') || '|' ||
            COALESCE(TO_VARCHAR(VendorID),'') || '|' ||
            COALESCE(TO_VARCHAR(PULocationID),'') || '|' ||
            COALESCE(TO_VARCHAR(DOLocationID),'') || '|' ||
            COALESCE(TO_VARCHAR(total_amount),'') || '|' ||
            'GREEN'
        ) AS HASH_KEY,
        lpep_pickup_datetime::TIMESTAMP_NTZ   AS PICKUP_DATETIME,
        lpep_dropoff_datetime::TIMESTAMP_NTZ  AS DROPOFF_DATETIME,
        VendorID                              AS VENDORID,
        CASE VendorID
            WHEN 1 THEN 'Creative Mobile Technologies (CMT)'
            WHEN 2 THEN 'VeriFone Transportation Systems (VTS)'
            WHEN 4 THEN 'DDS'
            WHEN 5 THEN 'VIP'
            ELSE 'Unknown'
        END AS VENDOR_DESC,
        RatecodeID                            AS RATECODEID,
        CASE RatecodeID
            WHEN 1 THEN 'Standard rate'
            WHEN 2 THEN 'JFK'
            WHEN 3 THEN 'Newark'
            WHEN 4 THEN 'Nassau/Westchester'
            WHEN 5 THEN 'Negotiated fare'
            WHEN 6 THEN 'Group ride'
            ELSE 'Unknown'
        END AS RATE_CODE_DESC,
        passenger_count                       AS PASSENGER_COUNT,
        trip_distance                         AS TRIP_DISTANCE,
        PULocationID                          AS PULOCATIONID,
        DOLocationID                          AS DOLOCATIONID,
        store_and_fwd_flag                    AS STORE_AND_FWD_FLAG,
        payment_type                          AS PAYMENT_TYPE,
        CASE payment_type
            WHEN 1 THEN 'Credit card'
            WHEN 2 THEN 'Cash'
            WHEN 3 THEN 'No charge'
            WHEN 4 THEN 'Dispute'
            WHEN 5 THEN 'Unknown'
            WHEN 6 THEN 'Voided trip'
            ELSE 'Unknown'
        END AS PAYMENT_TYPE_DESC,
        fare_amount                           AS FARE_AMOUNT,
        extra                                 AS EXTRA,
        mta_tax                               AS MTA_TAX,
        tip_amount                            AS TIP_AMOUNT,
        tolls_amount                          AS TOLLS_AMOUNT,
        improvement_surcharge                 AS IMPROVEMENT_SURCHARGE,
        total_amount                          AS TOTAL_AMOUNT,
        congestion_surcharge                  AS CONGESTION_SURCHARGE,
        cbd_congestion_fee                    AS CBD_CONGESTION_FEE,
        CAST(NULL AS FLOAT)                   AS AIRPORT_FEE,
        ehail_fee                             AS EHAIL_FEE,
        trip_type                             AS TRIP_TYPE,
        'GREEN'                               AS SERVICE_TYPE,
        SOURCE_YEAR, SOURCE_MONTH, RUN_ID, INGESTED_AT_UTC, SOURCE_PATH
    FROM RAW.NYC_GREEN_TAXIS
    WHERE SOURCE_YEAR = {yy} AND SOURCE_MONTH = {mm}
) S
WHERE NOT EXISTS (
    SELECT 1 FROM SILVER.NYC_ALL_TAXITRIPS T WHERE T.HASH_KEY = S.HASH_KEY
);
"""

# == Desde aqu√≠ va el c√≥digo del test de idempotencia ==

In [5]:
import snowflake.connector
import os

# Conexi√≥n
conn = snowflake.connector.connect(
    account=os.getenv("SF_ACCOUNT"),
    user=os.getenv("SF_USER"),
    password=os.getenv("SF_PASSWORD"),
    warehouse=os.getenv("SF_WAREHOUSE"),
    database=os.getenv("SF_DATABASE"),
    schema="PUBLIC",
    role=os.getenv("SF_ROLE"),
)
cur = conn.cursor()

# Mes de prueba
TEST_YEAR = 2017
TEST_MONTH = 10

print(f"\nüîç Probando idempotencia para {TEST_YEAR}-{TEST_MONTH:02d}")

# 1Ô∏è‚É£ Contar filas antes del insert
cur.execute(f"""
SELECT COUNT(*) FROM SILVER.NYC_ALL_TAXITRIPS
WHERE SOURCE_YEAR = {TEST_YEAR} AND SOURCE_MONTH = {TEST_MONTH};
""")
initial_count = cur.fetchone()[0]
print(f"üìä Filas iniciales (antes de carga): {initial_count}")

# 2Ô∏è‚É£ Ejecutar inserci√≥n YELLOW
print("üü° Insertando YELLOW de prueba...")
cur.execute(YELLOW_INSERT_TMPL.format(yy=TEST_YEAR, mm=TEST_MONTH))
print("‚úÖ YELLOW insert OK")

# 3Ô∏è‚É£ Ejecutar inserci√≥n GREEN
print("üü¢ Insertando GREEN de prueba...")
cur.execute(GREEN_INSERT_TMPL.format(yy=TEST_YEAR, mm=TEST_MONTH))
print("‚úÖ GREEN insert OK")

# 4Ô∏è‚É£ Contar filas despu√©s de primer insert
cur.execute(f"""
SELECT COUNT(*) FROM SILVER.NYC_ALL_TAXITRIPS
WHERE SOURCE_YEAR = {TEST_YEAR} AND SOURCE_MONTH = {TEST_MONTH};
""")
after_first = cur.fetchone()[0]
print(f"üìä Filas despu√©s del primer insert: {after_first}")

# 5Ô∏è‚É£ Reintentar carga del mismo mes (2¬∫ insert)
print("üîÅ Reintentando carga del mismo mes (idempotencia test)...")
cur.execute(YELLOW_INSERT_TMPL.format(yy=TEST_YEAR, mm=TEST_MONTH))
cur.execute(GREEN_INSERT_TMPL.format(yy=TEST_YEAR, mm=TEST_MONTH))

# 6Ô∏è‚É£ Contar filas despu√©s del segundo insert
cur.execute(f"""
SELECT COUNT(*) FROM SILVER.NYC_ALL_TAXITRIPS
WHERE SOURCE_YEAR = {TEST_YEAR} AND SOURCE_MONTH = {TEST_MONTH};
""")
after_second = cur.fetchone()[0]

print(f"üìä Filas despu√©s del segundo insert: {after_second}")

# ‚úÖ Test Final
if after_first == after_second:
    print("\nüü¢ ‚úÖ IDOMPOTENCIA COMPROBADA ‚Äì No se duplicaron filas.")
else:
    print("\nüî¥ ‚ùå ERROR ‚Äì Filas duplicadas. Revisar HASH_KEY / INSERT.")

cur.close()
conn.close()

üîç Probando idempotencia para 2017-10
üìä Filas iniciales (antes de carga): 10694409
üü° Insertando YELLOW de prueba...
‚úÖ YELLOW insert OK
üü¢ Insertando GREEN de prueba...
‚úÖ GREEN insert OK
üìä Filas despu√©s del primer insert: 10694409
üîÅ Reintentando carga del mismo mes (idempotencia test)...
üìä Filas despu√©s del segundo insert: 10694409

üü¢ ‚úÖ IDOMPOTENCIA COMPROBADA ‚Äì No se duplicaron filas.